body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Ajoutez cette ligne */
    font-family: 'Oswald', sans-serif;

}
a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}