#sttmc{
    position: absolute;
    left: -9999px;
}
#sttmc:focus{
    background-color: #ffffff;
    padding: 5px;
    left: 0;
    top: 0;
    z-index: 1000;
}

.topnav img{
    width: 150px;
}
/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    padding: 14px 16px;
    color: #5c5b5b;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav img{
        width: 100px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    a.icon{
        margin-top: 20px;
    }
    .topnav{
        display: block;
    }
    .myTopnav{
        display: none;
    }
  }

header{
    background-image: url(../images/2018-chevy-corvette-grand-sport-carbon-65-edition-review.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    opacity: 0.8;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.25s;
}

header:hover{
    opacity: 1;
}

header h1 {
    margin: 0 25px;
    padding-top: 25px;
    color: #ffffff; 
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
@media screen and (max-width: 840px) {
    header h1{
        font-size: 30px;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
.container img{
    width: 20px;
}
@media screen and (max-width: 840px) {
    .container img{
        width: 15px;
    }
    .container h2{
        font-size: 20px;
    }
    
}

.container_information_on{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}
.information_on{
    margin: 50px;
}
.information_details{
    display: flex;
    justify-content: space-around;
}

.information_details_cube{
    display: flex;
    align-items: center;
    margin: 50px;
}

.information_details img{
    width: 100px;
}

@media screen and (max-width: 1000px) {
    .information_details{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .information_on p {
        font-size: 15px;
    }
    .information_details_cube{
        margin: 25px;
    }
}
@media screen and (max-width: 600px) {
    .information_details_cube img{
        width: 50px;
    }
    .information_details_cube p{
        font-size: 10px;
    }
    .information_details_cube{
        margin: 10px;
    }
    
}
.container_gallery h2{
    margin: 50px 0;
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
    gap: 5px;
}
.gallery img{
    width: 100%;
    opacity: 0.9;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.25s;
    transform: scale(0.95);
}
.gallery img:hover{
    opacity: 1;
    transform: scale(1);
}